.content{
    width: 640px;
    height: 640px;
    margin: 20px auto;
    position: relative;
}
.btn{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}
.btn button{
    background: none;
    border: none;
    background-size: 100% 100%;
    outline: none;
    position: absolute;
    left: 50%;
    top: 50%;
}
.startBtn button{
    width: 150px;
    height: 80px;
    background: rgb(88, 202, 236);
    margin-left: -75px;
    margin-top:-40px;
    text-align: center;
    line-height: 80px;
    font-size: 1.4em;
    border-radius: 14px;
    color: mintcream;
}
.pauseBtn{
    display: none;
}
.pauseBtn button{
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
    background-image: url(../img/start.png);
    background-size: cover;
}

/* 游戏的容器 */
#snakeWrap{
    width: 600px;
    height: 600px;
    background: #225675;
    border:20px solid #7dd9ff;
    position: relative;
}
.snakeHead{
    background: rgb(245, 90, 28);
    border-radius: 4px 10px 10px 4px;
}
.snakeBody{
    background: orange;
    border-radius: 50%;
}
.food{
    background: url(../img/apple.png) 100%/100% 100%;
}